.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: solid 2px #c3e6da;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(44, 150, 115, 0.274);
    text-align: center;
    background-color: #fbfffd;
}

.profile-img {
    width: 100px;
    border: solid 2px #f591aa41;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.profile-img:hover {
    transform: scale(1.12);
}

.person-name {
    font-weight: bold;
    margin: 5px;
}

.description {
    color: #409696;
    margin: 10px;
}